.nav-custom{
    -webkit-box-shadow: 1px 1px 2px 3px #ccc;
    -moz-box-shadow:    1px 1px 2px 3px #ccc;
    box-shadow:         1px 1px 2px 3px #ccc;

    background: rgb(0,141,148);
    background: -moz-linear-gradient(90deg, rgba(0,141,148,1) 0%, rgba(0,154,162,1) 0%, rgba(1,184,193,1) 78%);
    background: -webkit-linear-gradient(90deg, rgba(0,141,148,1) 0%, rgba(0,154,162,1) 0%, rgba(1,184,193,1) 78%);
    background: linear-gradient(90deg, rgba(0,141,148,1) 0%, rgba(0,154,162,1) 0%, rgba(1,184,193,1) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#008d94",endColorstr="#01b8c1",GradientType=1);
}

.nav-custom-text {
color: white;
}
